<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head') %>
</head>

<body class=" bg-gradient">

    <%- include('partials/navbar') %>
    <div class="container mt-5">
        <div class="jumbotron">
            <h1 class="display-4">Thank you!</h1>
            <p>We will post your <%- forType %> on the site. 
            </p>
            
            <hr class="my-4">
            <!-- <p class="lead">
                <button class="btn btn-primary btn-lg text-white" id="subscribe" role="button">Subscribe</button>
            </p> -->
            <a href="/">Back to home page.</a>
        </div>
    </div>

</body>

</html>
